button:focus{
  outline: none;
}

.navbar-dark .navbar-toggler {
  border: none;
}



/*
 * Colors
 * Primary: #343a40
 * Light: #9a9da0
 * Secondary: #2e7d32
 * S-light: #60ad5e
 * S-dark: #005005
 */

/*
 * Global
 */

body {
  font-family: 'Roboto', sans-serif;
}

/*
 * Navbar
 */

.navbar-brand {
  font-weight: 500;
}

.brandimg {
  display: none !important;
}

.btn-link {
  color: rgba(255,255,255,.5);
}

.btn-link:hover {
  color: rgba(255,255,255,.75);
  text-decoration: none;
}

.signinicon {
  margin-left: 5px;
}

.btnSignUp {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: white;
  font-weight: 700;
}

.btnSignUp:hover {
  background-color: #60ad5e;
  border-color: #60ad5e;
  color: #343a40;
}
/*
 * Footer
 * Reference: https://markheath.net/post/font-awesome-circle-background
 */

.footerHelper {
  background-color: #343a40;
  margin-top: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.iconBackground {
    color: #2e7d32;
}

.iconHover:hover .iconBackground{
   color: #60ad5e;
}

.footerIcon {
  color: #343a40;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
}

.footerNav {
  text-align: center;
  margin-top: 10px;
}

.footer2Helper {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2e7d32;
  color: white;
}

.slogon {
  text-align: center;
  font-weight: 500;
}

.copyrightnotice {
  text-align: center;
  font-size: .7em;
}

/*
 * Footer
 */

 .jumbotronHelper {
   text-align: center;
 }

 .jumbotronButton {
   background-color: #2e7d32;
   border-color: #2e7d32;
   color: #e9ecef;
   font-weight: 700;
 }

 .jumbotronButton:hover {
   background-color: #60ad5e;
   border-color: #60ad5e;
 }

 /*
  * Homepage
  */

.recentBlog {
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}
.recentBlogTitle {
  margin-bottom: 25px;
}

.recentBlogSubtitle {
  display: inline-block;
  margin-right: 1em;
}

.recentBlogDate {
  display: inline-block;
}

.gotopost {
  margin-left: 5px;
}

.footerIconBlog {
  color: #e9ecef;
}

.blogcontenthelper {
  padding-left: 0;
}

.iconComment {
  margin-right: 5px;
}

.aboutmeTitle {
  margin-bottom: 15px;
  margin-top: 15px;
}

.aboutmeHelper {
  margin-left: 5%;
  margin-right: 5%;
}

/*
 * Blog
 */

 .BlogTitle {
   margin-bottom: 25px;
   margin-top: 35px;
 }

.spacer {
  margin-top: 35px;
  margin-bottom: 35px;
}

/*
 * Blog Post
 */

.BlogSubtitle {
  margin-bottom: 25px;
  margin-top: -10px;
  font-size: 1.2em;
}

.buttonBacktoblog {
  margin-top: 20px;
}

.blogpmargins {
  margin-left: 5%;
  margin-right: 5%;
}

.textAreaComments {
  resize: none;
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
}

.labelComments {
  display:block;
}

.blogpostbtnHelper {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow:hidden;
}

/*
 * Portfolio
 */


.imghighlight {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: opacity 2s;
}

 .imghighlight:hover {
   opacity: 0.75;
   filter: alpha(opacity=70); /* For IE8 and earlier */
   transition: opacity 0.5s;
 }


 /*
  * Admin Panel
  */

  /*
   * Tabs
   */

.adminTab {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: #e9ecef;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: .7em;
  padding: 10px;
}

.adminTab:hover {
    color: #e9ecef;
    background-color: #60ad5e;
    border-color: #60ad5e;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #60ad5e;
  border-color: #60ad5e;
  color: #e9ecef;
  font-weight: 700;
}

.adminSecondaryTab {
  font-weight: bold;
  font-size: .5em;
  color: #495057;
}

.adminSecondaryTab:hover {
  color: #495057;
}

.nav-tabs {
  border-color: #60ad5e;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #60ad5e #60ad5e #fff;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
  border-color: #60ad5e #60ad5e #fff;
}

.nav-tabs .nav-link:hover {
  border-color: #60ad5e #60ad5e #60ad5e;
}

.forms {
  margin-top: 20px;
}

/*
 * Users
 */

select.form-control[multiple], select.form-control[size] {
  height: 150px;
}

.btnUserList {
  margin-top: 15px;
}

.btnUserList2 {
  margin-top: 10px;
}

/*
 * Manage Portfolio
 */

 .clearBtn {
   margin-left: 10px;
 }

 /*
  * Signin
  */

.cardStyles {
  margin-top: 20px;
}

.or {
  display: none;
}

.signinlabel {
  font-weight: 500;
}
