<header role="banner">
  <!-- Navigation & Brand -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="" width="30" height="30" class="d-inline-block align-top brandimg" alt="">
      DevLiamW
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/blog">Blog<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
      </ul>
    </div>
    {{# if logOut }}
    <form action="/signout" method="POST" class="form-inline my-2 my-lg-0">
      <button class="btn btn-primary btnSignUp shadow btn-sm my-2 my-sm-0" type="submit">Sign Out</button>
    </form>
    {{else}}
    <form class="form-inline my-2 my-lg-0">
      <button onclick="location.href='/signin'" class="btn btn-link btn-sm my-2 my-sm-0" type="button">Sign In<span class="signinicon"><i class="fas fa-sign-in-alt fa-lg"></i></span></button>
      <button onclick="location.href='/signup'" class="btn btn-primary btnSignUp shadow btn-sm my-2 my-sm-0" type="button">Sign Up</button>
    </form>
    {{/if}}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<main role="main">

  <!-- Main Content -->
  <!-- Paragraph Cluster -->
  <article role="article">
    <div class="container recentBlogHelper">
      <div class="row">
        <div class="col-sm" align="center">
          <h1 class="BlogTitle display-4">[Title]</h1>
          <h1 class="BlogSubtitle display-4">[Date]</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm" align="center">
          <img class="img-fluid img-thumbnail" src="https://via.placeholder.com/1000x500"></img>
        </div>
      </div>
      <div class="row">
        <div class="col-sm  recentBlog">
          <hr class="spacer">
          </hr>
          <div class="blogpmargins">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas consequuntur tenetur, nesciunt tempora quis dolores, fugiat, facilis aliquid atque sequi libero ut voluptate rerum. Quae beatae laboriosam cum tempore
              necessitatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas consequuntur tenetur, nesciunt tempora quis dolores, fugiat, facilis aliquid atque sequi libero ut voluptate rerum. Quae beatae laboriosam cum tempore
              necessitatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas consequuntur tenetur, nesciunt tempora quis dolores, fugiat, facilis aliquid atque sequi libero ut voluptate rerum. Quae beatae laboriosam cum tempore
              necessitatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas consequuntur tenetur, nesciunt tempora quis dolores, fugiat, facilis aliquid atque sequi libero ut voluptate rerum. Quae beatae laboriosam cum tempore
              necessitatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas consequuntur tenetur, nesciunt tempora quis dolores, fugiat, facilis aliquid atque sequi libero ut voluptate rerum. Quae beatae laboriosam cum tempore
              necessitatibus.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm" align="center">
          <a class="btn btn-primary jumbotronButton shadow buttonBacktoblog" href="blog" role="button"><i class="fas fa-chevron-left fa-sm"></i> Back to blog</a>
        </div>
      </div>

      <hr class="spacer">
      </hr>

      <div class="row">
        <div class="col-sm" align="center">
          <h1 class="BlogTitle display-4">Comments</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm">
          <form>
            <div class="form-group">
              <label class="labelComments" for="comment">Characters remaining: <span id="displayCounter"></span></label>
              <textarea class="textAreaComments form-control" id="comment" name="comment" placeholder="Write a public comment..." rows="3" maxlength="200"></textarea>
            </div>
          </form>
        </div>
      </div>

      <div class="row blogpostbtnHelper">
        <div class="col-sm" align="right">
          <a class="btn btn-primary jumbotronButton shadow" href="#" role="button">Comment</a>
        </div>
      </div>

      <div class="commentsInsert">
        <div class="row">
          <div class="col-sm">
          </div>
        </div>
      </div>
    </div>
  </article>

  <footer role="contentinfo">
    <!-- Footer info -->
    <div class="container-fluid footerHelper">
      <div class="row">
        <div class="col-sm" align="center">
          <span class="fa-stack fa-lg icon">
            <a class="iconHover" href="https://twitter.com/DevLiamW"><i class="fa fa-circle fa-stack-2x iconBackground"></i>
              <i class="fab fa-twitter fa-stack-1x footerIcon"></i></a>
          </span>
          <span class="fa-stack fa-lg icon">
            <a class="iconHover" href="https://devliamw.itch.io/"><i class="fa fa-circle fa-stack-2x iconBackground"></i>
              <i class="fas fa-gamepad fa-stack-1x footerIcon"></i></a>
          </span>
          <span class="fa-stack fa-lg icon">
            <a class="iconHover" href="https://www.linkedin.com/in/devliamw/"><i class="fa fa-circle fa-stack-2x iconBackground"></i>
              <i class="fab fa-linkedin-in fa-stack-1x footerIcon"></i></a>
          </span>
          <span class="fa-stack fa-lg icon">
            <a class="iconHover" href="https://www.youtube.com/channel/UCmXGzsWzb_wyvEqULnNpTig"><i class="fa fa-circle fa-stack-2x iconBackground"></i>
              <i class="fab fa-youtube fa-stack-1x footerIcon"></i></a>
          </span>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm" align="center">
              <button class="btn btn-link footerNav" href="/"><span>Home</span></button>
              <button class="btn btn-link footerNav" href="/blog"><span>Blog</span></button>
              <button class="btn btn-link footerNav" href="/portfolio"><span>Portfolio</span></button>
              <button class="btn btn-link footerNav" href="/signin"><span>Sign In</span></button>
              <button class="btn btn-link footerNav" href="/signup"><span>Sign Up</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid footer2Helper">
      <div class="row">
        <div class="col-sm" align="center">
          <span class="slogon">Games, Web & Software Developer!</span>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm" align="center">
            <span class="copyrightnotice">&copy; Liam West | DevLiamW 2019</span>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scripts -->
  <script src="javascripts/vendor/modernizr-3.6.0.min.js"></script>
  <script src="javascripts/vendor/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script>
    window.jQuery || document.write('<script src="javascripts/vendor/jquery-3.3.1.min.js"><\/script>')
  </script>
  <script src="javascripts/plugins.js"></script>
  <script src="javascripts/main.js"></script>
  <script src="javascripts/comments.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
  <script src="javascripts/client.js"></script>
  <!-- Google Analytics -->
  <script>
    window.ga = function() {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-101985549-1', 'auto');
    ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
