/*
 * Global
 */

body {
  font-family: 'Roboto', sans-serif;
}

/*
 * Navbar
 */

.navbar-brand {
  font-weight: 500;
}

.btn-link {
  color: white !important;
}

.signinicon {
  margin-left: 5px;
}
